body {
	background-color: #8f6e3b;
	background-image: url(../img/xgaKp2p.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
	position: relative;
	max-width: 1400px;
	height: 800px;
	margin: auto;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: center;
}

.title {
	position: relative;
	margin-bottom: 50px;
	margin-right: 50px;
	line-height: 2;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #f5e7de;
	font-weight: 600;
}

.nm {
	font-size: 28px;
	color: #ffdfb0;
}

